<input
  type="password"
  [(ngModel)]="password"
  (input)="checkPasswordStrength()"
/>
<div
  class="strength-section"
  [ngClass]="{
    gray: password.length === 0,
    red: (password.length < 8 && password.length !== 0) || isEasyStrength(),
    yellow: isMediumStrength(),
    green: isStrongStrength()
  }"
></div>
<div
  class="strength-section"
  [ngClass]="{
    gray: password.length === 0 || isEasyStrength(),
    red: password.length < 8 && password.length !== 0,
    yellow: isMediumStrength(),
    green: isStrongStrength()
  }"
></div>
<div
  class="strength-section"
  [ngClass]="{
    gray: password.length === 0 || isEasyStrength(),
    red: password.length < 8 && password.length !== 0,
    green: isStrongStrength()
  }"
></div>
